/* Feed.css */
.feed-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: calc(100% - 235px);
  height: 100%;
  background: transparent;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  overflow: hidden;

  @media screen and (max-width: 1000px) {
    width: calc(100% - 105px);
  }

  @media screen and (max-width: 540px) {
    position: fixed;
    top: 60px;
    width: 100vw;
    height: calc(100dvh - 55px);
    border-radius: 0;
    box-shadow: unset;
  }
}

.feed-header {
  padding: 30px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;

  @media screen and (max-width: 800px) {
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }
}

.feed-header .addons {
  position: absolute;
  top: 0;
  left: 20px;
}

.feed-header .button {
  padding: 10px 12px;
  background: rgba(0, 0, 0, 0.75);
  font-size: 1.1rem;
  transition: none;

  @media screen and (max-width: 540px) {
    padding: 7px 9px;
    font-size: 1rem;
  }
}

.feed-header .button + .button {
  margin-left: 5px;
}

.feed-header .modal-container {
  padding-top: 25px;
  justify-content: flex-start;

  @media screen and (max-width: 540px) {
    padding-top: 50px;
  }
}

.feed-header .modal-container .inner {
  width: 300px;
}

.feed-header .user-search {
  padding: 12px 45px;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  border: none;
  font-size: 1rem;
  color: #fff;
}

.feed-header .search-icon,
.feed-header .search-cleaner {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.feed-header .search-cleaner {
  left: unset;
  right: 10px;
}

.feed-header .search-result {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(90dvh - 100px);
  background: rgba(0, 0, 0, 0.75);
  overflow-y: scroll;
  transition: 0.3s all ease-in;
  user-select: none;
}

.feed-header .search-result .no-data {
  padding: 12px;
  width: 100%;
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
}

.feed-header .search-result::-webkit-scrollbar {
  width: 10px;
}

.feed-header .search-result::-webkit-scrollbar-track {
  background: transparent;
}

.feed-header .search-result::-webkit-scrollbar-thumb {
  background: var(--border-color);
}

.feed-header .search-item > div:nth-child(1) {
  width: 45px;
  height: 45px;
}

.feed-header .search-item > div:nth-child(2) {
  padding: 0 10px;
  flex-grow: 1;
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
}

.feed-header .search-item .profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feed-header .search-item {
  padding: 10px 5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;

  &:hover {
    background: rgb(126, 97, 255, 0.75);
  }

  &:active {
    filter: blur(1px);
  }
}

.feed-header .search-item p {
  font-size: 1rem;
}

.feed-header .search-item span {
  font-size: 0.9rem;
  font-style: italic;
  color: var(--main-background);
}

.feed-header .search-item span + span {
  margin-left: 5px;
}

.feed-header .search-item .count {
  font-weight: bold;
  color: #e7e7e7;
}

.feed-header .search-item .hangle {
  font-size: 0.9rem;
}

.feed-header > div:nth-child(1) {
  width: 130px;
  height: 130px;
  overflow: hidden;
  user-select: none;

  @media screen and (max-width: 800px) {
    width: 100px;
    height: 100px;
  }

  @media screen and (max-width: 540px) {
    width: 75px;
    height: 75px;
  }
}

.feed-header .profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feed-header .feed-info {
  margin-left: 30px;

  @media screen and (max-width: 800px) {
    margin: auto;
    margin-top: 15px;
    text-align: center;
  }
}

.feed-info .follower {
  margin-top: 15px;
}

.feed-info .follower p {
  padding: 5px;
  display: inline;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  font-size: 1.1rem;
  color: #fff;

  @media screen and (max-width: 540px) {
    font-size: 0.9rem;
  }
}

.feed-info .follower span {
  padding: 5px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 0 0 5px #eee, 0 0 10px #eee;

  @media screen and (max-width: 540px) {
    font-size: 1rem;
  }
}

.feed-info .feed-interactive {
  margin-top: 15px;
}

.feed-interactive .button {
  padding: 5px 10px;
  width: 120px;
  border-radius: 5px;
  font-size: 1.1rem;
  color: #fff;

  @media screen and (max-width: 540px) {
    font-size: 1rem;
  }
}

.feed-interactive .button + .button {
  margin-left: 10px;
}

.feed-interactive .button:hover {
  filter: brightness(125%) contrast(125%);
}

.feed-interactive .button:active {
  filter: blur(1px);
}

.feed-interactive .follow {
  background: var(--tikitaka-color);
}

.feed-interactive .follow svg {
  margin-left: 5px;
}

.feed-interactive .message {
  background: var(--btn-hover-font-color);
}

.feed-info .desc {
  margin-top: 15px;
  position: relative;
  max-width: 400px;
  font-size: 1.1rem;
  overflow-y: scroll;

  @media screen and (max-width: 540px) {
    display: none;
  }
}

.feed-info .desc .hangle {
  font-size: 1rem;

  @media screen and (max-width: 540px) {
    font-size: 0.9rem;
  }
}

.feed-info .desc .edit {
  margin-top: 5px;
}

.feed-info .desc textarea {
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  resize: none;
}

.feed-info .desc .button-group,
.social-detail .content .button-group {
  display: flex;
  flex-flow: row nowrap;
}

.feed-info .desc .button {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  background: transparent;
}

.feed-info .desc .button + .button {
  margin-left: 5px;
}

.feed-info .desc span,
.social-detail .content span {
  margin-right: 5px;
  font-size: 1.1rem;
  vertical-align: top;
}

.feed-info .nick {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
  color: #000;

  @media screen and (max-width: 540px) {
    font-size: 1.2rem;
  }
}

.feed-info .setting {
  margin-left: 10px;
  font-size: 1.4rem;

  @media screen and (max-width: 540px) {
    font-size: 1.2rem;
  }
}

.feed-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;

  @media screen and (max-width: 800px) {
    height: calc(100% - 300px);
  }

  @media screen and (max-width: 540px) {
    height: auto;
  }
}

.feed-content .loading {
  padding: 15px 0;
  text-align: center;
}

.feed-tabs {
  padding: 0 20px;
  display: flex;
  flex-flow: row nowrap;
  background: transparent;
}

.feed-tabs .button {
  padding: 6px 12px;
  display: block;
  transition: none;
  background: rgba(0, 0, 0, 0.75);
  font-size: 1.1rem;

  @media screen and (max-width: 540px) {
    padding: 7px 9px;
    font-size: 1rem;
  }
}

.feed-tabs .select {
  background: var(--tikitaka-color);
}

.feed-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 5px solid #000;
  border-left: 5px solid #000;
}

.feed {
  padding-top: 25%;
  position: relative;
  display: block;
  width: 25%;
  height: 0;
  border-right: 5px solid #000;
  border-bottom: 5px solid #000;
  user-select: none;

  @media screen and (max-width: 800px) {
    padding-top: 33.33%;
    width: 33.33%;
  }
}

.feed img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  &:hover {
    filter: brightness(75%);
  }

  &:active {
    filter: brightness(75%) blur(3px);
  }
}

.feed-followers {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.feed-followers .title {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  color: #fff;
}

.feed-followers .close {
  position: absolute;
  top: 22px;
  right: 10px;
  transform: translateY(-50%);
  color: #fff;
}

.feed-followers .list {
  padding: 0 5px 0 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  overflow-y: scroll;
}

.feed-followers .list::-webkit-scrollbar {
  width: 10px;
}

.feed-followers .list::-webkit-scrollbar-track {
  background: transparent;
}

.feed-followers .list::-webkit-scrollbar-thumb {
  background: var(--border-color);
}

.feed-followers .list .item {
  margin-top: 10px;
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  user-select: none;
}

.feed-followers .list .item:hover {
  background: rgba(11, 83, 240, 0.5);
}

.feed-followers .list .item:active {
  filter: blur(1px);
}

.feed-followers .list .item > div:nth-child(1) {
  width: 40px;
  height: 40px;
}

.feed-followers .list .item > div:nth-child(2) {
  padding: 0 10px;
  flex-grow: 1;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: var(--main-background);
  line-height: 1rem;
}

.feed-followers .list .item + .item {
  margin-top: 10px;
}

.feed-followers .list .item .profile {
  width: 40px;
  height: 40px;
}

.feed-followers .list .item .hangle {
  font-size: 1.1rem !important;
}
